node_modules
src/Events/dist
src/Frontend/dist

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# eclipse project file
.settings/
.classpath
.project

# NetBeans specific
nbproject/private/
build/
nbbuild/
nbdist/
nbactions.xml
nb-configuration.xml

